<%- include('partials/header'); -%>

    <h1>
        Compose
    </h1>

    <form class="" action="/compose" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="postTitle" size="161">

            <label>Post</label>

            <textarea type="postBody" id="textBox" class="form-control" name="postBody" rows="5" cols="160"
                placeholder="Enter your thoughts here..."></textarea><br><br>
            <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>
    </div>

    <%- include('partials/footer'); -%>