<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>

    <% const blogPosts = []; %>
    <% blogPosts.forEach(post => console.log(post)); %>


    <!-- <% for(var i=0; i<posts.length; i++) { %>
        <% console.log(posts[i].title); %>
  <%  }; %> -->

        <%- include('partials/footer'); -%>


        <!-- You must start and end the ejs tags on the same line -->

     
